body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Logo {
  background-image: url('./assests/logo.jpg');
  background-color: #cccccc;
  height: 800px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.flex-container{
  display:inline-flex;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
.flex-container a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.Logo a{
  text-decoration: none;
  margin-left: 30px;
  color: white;
  font-size: larger;
}

.form-recipe{
  background-image: url('./assests/logo.jpg');
  background-color: #cccccc;
  height: 700px;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.create-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  border-radius: 10px;
}
.mb-3{
  margin-top: 50px;
  color: white;
}